@font-face {
	font-family: "Open Sans Extrabold";
	src: url('../fonts/2206.TTF');
}

@font-face {
	font-family: "Open Sans Light";
	src: url('../fonts/2209.TTF');
}

@font-face {
	font-family: "Open Sans";
	src: url('../fonts/2211.ttf');
}

@font-face {
	font-family: "Gotham Pro";
	src: url('../fonts/GothaProReg.otf');
}

@font-face {
	font-family: "PF Din Text Comp Pro";
	src: url('../fonts/pfdintextcomppro.ttf');
}

body	{
	width: 100%;
	min-width: 340px;
	height: 100%;
	margin: 0;
	padding: 0;

}

.container-fluid	{
	max-width: 1230px;
	height: 100%;
	padding: 0 30px;
	position: relative;
}

/*header начало*/

.header__top {
	padding-top: 17px;
}

.header__top_wrap {
	text-align: justify;
	text-align-last: justify;
}


.header__top_item {
	display: inline-block;
	vertical-align: bottom;
	text-align: left;
	text-align-last: left;
}

.header__feedback,
.header__search,
.header__personal-area {
	position: relative;
	bottom: 20px;
}

.header__feedback a	{
	display: block;
	max-width: 180px;
	text-decoration: none;
	color: #474747;
	font-size: 14px;
	line-height: 1.4;
}

.feedback__call,
.feedback__mail {
	font-family: "Open Sans";
	font-weight: bold;
}

a.feedback__form	{
	font-family: "Open Sans Light";
	color: #17a31c;
	border-bottom: 1px solid #17a31c;
}

.header__search_menu {
	margin-bottom: 5px;
}

.header__search_menu ul {
	padding: 0;
	margin: 0 3px;
	list-style: none;
	text-align: justify;
	text-align-last: justify;
	font-family: "Gotham Pro";
	font-size: 12px;
}

a.header__search_menu-link {
	text-decoration: none;
	color: #1fa623;
}

.header__search_menu ul li {
	display: inline-block;
}

.header__search_form {
	position: relative;
}

.header__search_input {
	width: 370px;
	height: 30px;
	border: 1px solid #898989;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.header__search_btn	{
	width: 35px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #898989;
	background-color: #fff;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
}

.header__search_btn	img {
	margin-left: 3px;
	margin-bottom: 3px;
}

.header__personal-area {
	width: 174px;
	text-align: center;
}

.personal__area_text {
	display: inline-block;
	margin-bottom: 4px;
	padding: 0 5px;
	background-color: #fff;
	text-align: center;
	text-align-last: center;
	font-family: "Gotham Pro";
	font-style: italic;
	font-size: 12px;
	color: #9f9f9f;
	position: relative;
	z-index: 5;
}

.horizontal__line {
	width: 100%;
	height: 1px;
	background-color: #e5e5e5;
	position: absolute;
	top: 10px;
	left: 0;
}

a.registration__btn	{
	display: inline-block;
	width: 107px;
	height: 30px;
	padding-top: 5px;
	margin-right: 2px;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-family: "Gotham Pro";
	/*font-weight: bold;*/
	text-align: center;
	text-align-last: center;
	background-color: #2dab31;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

a.authorization__btn {
	display: inline-block;
	width: 61px;
	height: 30px;
	padding-top: 5px;
	vertical-align: top;
	text-decoration: none;
	color: #484848;
	font-size: 12px;
	font-family: "Gotham Pro";
	/*font-weight: bold;*/
	text-align: center;
	text-align-last: center;
	background-color: #fff;
	border: 1px solid #484848;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

/*Новые стили для корзины и авторизации*/

.user-greeting {
	display: block;
	font-size: 13px;
	font-family: 'Gotham Pro';
}

.user-greeting a,
.user-actions a {
	text-shadow: none;
	color: #31A836;
	display: inline-block;
	text-decoration: none;
	border-top: none;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	text-align: left;
	font-size: 12px;
}

.user-greeting a:hover,
.user-actions a:hover {
	color: #d05050;
}

.user-actions-wrapper {
	position: relative;
}

.user-actions {
	background-color: #fff;
	border: 3px solid #31A836;
	display: none;
	padding: 10px 14px 0;
	position: absolute;
	right: 0;
	top: 14px;
	width: 270px;
	z-index: 3300;
	font-family: 'Gotham Pro';
}

.user-actions h4 {
	font-size: 15px;
	letter-spacing: 0.3px;
	margin-bottom: 5px;
	padding: 0;
	text-transform: none;
}

.user-actions ul {
	list-style: outside none none;
	margin: 0 0 13px;
	padding: 1px 0 0;
}

.user-actions ul li {
	display: block;
	font-size: 13px;
	min-height: 24px;
}

.user-actions ul li a {
	color: #000000;
	border-bottom: 1px solid #dfdfdf;
}

.user-actions ul li a:hover {
	color: #d05050;
	border-color: #d05050;
}

.user-name {
	position: relative;
}

.user-name:after {
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: url("../img/up-arrow.png") no-repeat;
	background-size: cover;
	transform: rotate(90deg);
	top: 5px;
	right: -15px;
}

.user-name-arrow-down:after {
	transform: rotate(180deg);
}

.basket-layer {
	background-color: #fff;
	border: 3px solid #31A836;
	display: none;
	padding: 12px;
	position: absolute;
	right: 0px;
	top: 44px;
	width: 681px;
	z-index: 10;
}

.basket-layer:before {
	content: '';
	width: 170px;
	height: 6px;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: -4px;
}

.basket-layer-visible {
	display: block;
}

.header-basket-items-list-container {
	max-height: 200px;
}

.header-basket-item-list {
	font-size: 13px;
	text-align: left;
	white-space: normal;
}

.header-basket-item-list .basket-itogo {
	font-size: 16px;
	font-weight: bold;
	padding-right: 20px;
}


.header__bottom_basket  .btn-green:hover {
	background-color: #1edeb8;
	border-color: #1edeb8;
	color: #fff;
}



.header__bottom_basket .btn {
	border-radius: 2px !important;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 28px;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	color: #000;
}

.header__bottom_basket  .btn-green {
	background-color: #31A836;
	border-color: #31A836;
	color: #fff;
}

.header__bottom_basket  .btn-small {
	font-size: 13px;
	padding: 7px 14px;
}

.header__bottom_basket table {
	max-width: 100%;
}

.header-basket-item-list td {
	padding: 5px;
}

.header-basket-item-list td  a {
	text-shadow: none;
	color: #31A836;
	display: inline-block;
	text-decoration: none;
	border-top: none;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	text-align: left;
	font-size: 13px;
}

.header-basket-item-list td  a:hover {
	color: #d05050;
}

.some-class {
	display: none;
}

.nowrap {
	white-space: nowrap;
}

.cart_x {
	background: url(../img/x.gif);
	display: inline-block;
	width: 13px;
	height: 13px;
	cursor: pointer;
	overflow: hidden;
	text-indent: -9999px;
}

.slimScrollDiv {
	border: none;
}

/***/


.header__bottom_wrap {
	position: relative;
	text-align: justify;
	text-align-last: justify;
}

.header__bottom {
	margin-top: 20px;
	background-color: #f3f3f2;
}

.header__bottom_menu,
.footer__bottom_menu {
	display: inline-block;
	text-align: left;
	text-align-last: left;
}

.header__bottom_menu > ul,
.footer__bottom_menu ul,
.header__bottom_menu-small ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.header__bottom_menu > ul li,
.footer__bottom_menu ul li {
	display: inline-block;
	padding: 9px 0 9px ;
	position: relative;
}

.header__bottom_menu > ul li.bottom__menu_active-item:before {
	content: '';
	width: 98%;
	height: 3px;
	position: absolute;
	background-color: #2dab31;
	top: -3px;
	left: 0;
}

span.header__bottom_menu-item,
a.header__bottom_menu-item,
span.footer__bottom_menu-item,
a.footer__bottom_menu-item {
	display: inline-block;
	height: 28px;
	font-family: "Open Sans";
	text-decoration: none;
	color: #817f7d;
	border-right: 1px solid #b0b0b0;
	padding: 4px 13px 0 9px;
}

.header__bottom_menu > ul li:after {
	content: '';
	width: 98%;
	height: 3px;
	position: absolute;
	background-color: #2dab31;
	top: -3px;
	left: 0;
	display: none;
}

.header__bottom_menu > ul li:hover:after {
	display: block;
}

.header__bottom_menu > ul li:first-child .header__bottom_menu-item,
.footer__bottom_menu ul li:first-child .footer__bottom_menu-item  {
	padding-left: 0;
}

.header__bottom_menu > ul li:last-child .header__bottom_menu-item,
.footer__bottom_menu ul li:last-child .footer__bottom_menu-item  {
	border: none;
}

.header__bottom_basket {
	display: inline-block;
	background-color: #fff;
	width: 174px;
	height: 46px;
	position: relative;
	vertical-align: top;
	text-align: left;
	text-align-last: left;
	z-index: 15;
}


.header__bottom_basket-opened .basket__link:after {
	content: '';
	border-color: #31A836 #31A836 #fff;
	border-image: none;
	border-style: solid solid none;
	border-width: 3px 3px 0 3px;
	height: 65px;
	position: absolute;
	right: 0;
	top: -3px;
	width: 176px;
	height: 49px;
	z-index: 20;
	cursor: pointer;
}

.header__bottom_basket a {
	text-decoration: none;
	color: #000;
	font-family: "Open Sans";
}

.header__bottom_basket img {
	margin-left: 7px;
}

.basket__text {
	display: inline-block;
	margin-top: 11px;
	margin-left: 2px;
}

.basket__count	{
	display: inline-block;
	padding-top: 3px;
	min-width: 27px;
	height: 27px;
	-webkit-border-radius: 13.5px;
	-moz-border-radius: 13.5px;
	border-radius: 13.5px;
	position: absolute;
	right: 18px;
	top: 10px;
	background-color: #2dab31;
	color: #fff;
	text-align: center;
	text-align-last: center;
}

.header__bottom_menu-small {
	position: absolute;
	top: 5px;
	right: 200px;
	text-align-last: right;
	z-index: 5;
	display: none;
}

ul.small__menu {
	background-color: #f3f3f2;
	padding: 20px;
	display: none;
}

ul.small__menu li {
	margin-bottom: 15px;
	display: none;
}

.small__menu-btn {
	padding: 6px 10px 9px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-color: #ddd;
	border-radius: 4px;
}

.small__menu-btn:focus {
	outline: none;
}

.small__menu_btn-view {
	background-color: #888;
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	margin-top: 4px;
	font-size: 14px;
	line-height: 14px;
	-webkit-font-smoothing: antialiased;
}

span.small__menu-item,
a.small__menu-item {
	font-family: "Open Sans";
	text-decoration: none;
	color: #817f7d;
}


/*header конец*/

/*main начало*/

.information__blocks {
	padding-top: 26px;
}

.information__block {
	margin-bottom: 27px;
	background-color: #7e7e7e;
}

.information__block_main {
	height: 540px;
	background: url(../img/bigphoto.jpg) 50% 50% no-repeat;
	background-size: cover;
}

.information__block_item1 {
	height: 256px;
	background: url(../img/smallphoto1.jpg) 50% 50% no-repeat;
	background-size: cover;
	opacity: 0.6;
	position: relative;
}

.information__block_item2 {
	height: 256px;
	background: url(../img/smallphoto2.jpg) 50% 50% no-repeat;
	background-size: cover;
	opacity: 0.6;
	position: relative;
}

.information__block_item3 {
	height: 256px;
	background: url(../img/smallphoto3.jpg) 50% 50% no-repeat;
	background-size: cover;
	opacity: 0.6;
	position: relative;
}

.information__block_item4 {
	height: 256px;
	background: url(../img/smallphoto4.jpg) 50% 50% no-repeat;
	background-size: cover;
	opacity: 0.6;
	position: relative;
}

.information__block:hover {
	opacity: 1;
	transition: all 0.5s;
}

a.index__page_link {
	width: 100%;
	height: 366px;
	display: block;
}

a.index__page_link-other {
	display: table-cell;
	vertical-align: middle;
	height: 174px;
	padding: 0 10px 0 23px;
	background-color: rgba(241, 219, 120, 0.7);
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 27.88px;
	/*letter-spacing: -1px;*/
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}

.index__page_link-other-text {
	border-left: 5px solid #fff;
	padding-left: 13px;
	line-height: 1.2;
}

a.index__page_link-small {
	font-family: "Open Sans";
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.index__page_link-small-text {
	position: absolute;
	bottom: 24px;
	margin-left: 18px;
	border-left: 5px solid #fff;
	padding-left: 13px;
	line-height: 1.2;
	opacity: 1;
}

.middle__links_block {
	padding-top: 22px;
	padding-bottom: 35px;
}

a.middle__link {
	text-decoration: none;
	font-family: "PF Din Text Comp Pro";
	color: #a9232c;
	font-size: 22px;
	text-transform: uppercase;
}

.middle__link_content {
	height: 77px;
	background-color: #e8e8e8;
	position: relative;
}

.middle__link_content img {
	position: absolute;
	bottom: 0;
}

.middle__link1 .middle__link_content img {
	width: 57.3%;
}

.middle__link2 .middle__link_content img {
	width: 51.355%;
}

.middle__link3 .middle__link_content img {
	width: 45.136%;
}

.middle__link_text {
	display: inline-block;
	line-height: 1;
	position: absolute;
	top: 20px;
	letter-spacing: -1px;
}

.middle__link1 .middle__link_text {
	right: 38px;
}

.middle__link2 .middle__link_text {
	right: 25px;
}

.middle__link3 .middle__link_text {
	right: 18px;
}

.middle__form {
	margin-bottom: 115px;
}

.middle__form_wrap {
	background-color: #e9e9e9;
	padding-bottom: 15px;
	position: relative;
}

.middle__form_text-info {
	position: relative;
	max-width: 895px;
	margin: 0 auto 25px;
	padding-top: 31px;
	padding: 31px 20px 0 20px;
}

.middle__form_info-head {
	text-align: center;
	font-family: "Open Sans Extrabold";
	text-transform: uppercase;
	color: #a9232c;
	font-size: 33.73px;
}

.middle__form_text {
	max-width: 845px;
	padding: 0 20px;
	text-align: left;
	position: absolute;
	top: 153px;
	z-index: 5;
}

.middle__form_text-head {
	margin-bottom: 12px;
	font-family: "Open Sans Extrabold";
	text-transform: uppercase;
	font-size: 14.59px;
	color: #395f40;
}

.middle__form_text-content {
	max-width: 560px;
	font-family: "Open Sans";
	font-size: 16px;
	color: #343333;
	line-height: 30px;
}

.middle__form_banner {
	position: relative;
}

.middle__form_banner img {
	width: 86.0684%;
}

.feedback__price_form-wrap {
	width: 370px;
	position: absolute;
	right: 70px;
	bottom: -48px;
	background-color: #eeefed;
	border-radius: 9px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.feedback__price_form-send {
	max-width: 350px;
	padding: 25px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 18px;
	color: #525252;
	position: absolute;
	top: 300px;
	right: 100px;
	background-color: #fff;
	-webkit-border-radius:;
	-moz-border-radius:;
	border-radius: 9px;
}

.feedback__price_form-head {
	max-width: 310px;
	padding: 0 20px;
	margin: 17px auto 7px;
	text-align: center;
	font-family: "Open Sans Extrabold";
	text-transform: uppercase;
	color: #a9232c;
	font-size: 23.43px;
}

.feedback__price_form-text {
	max-width: 300px;
	margin: 0 auto 24px;
	text-align: center;
	font-family: "Open Sans";
	font-size: 14px;
	color: #525252;
}

.feedback__price_form-item {
	margin-left: 30px;
	margin-bottom: 32px;
}

.feedback__price_form-item label {
	margin-bottom: 0;
	display: block;
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 14px;
	color: #525252;

}

.feedback__price_form-item input,
.feedback__price_form-item select {
	width: 307px;
	height: 43px;
	padding-left: 12px;
	border: 1px solid #bababa;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	font-family: "Open Sans";
	font-weight: normal;
	font-size: 14px;
}


input.input__error {
	border: 1px solid #FF0303;
	background: rgba(255, 138, 138, 0.65);
}

.feedback__price_form-btn {
	max-width: 311px;
	position: relative;
	margin: 18px 0 20px 30px;
	padding: 0;
	background: transparent;
	border: none;
}

.arrow__blue {
	display: none;
}

.feedback__price_form-btn:hover .arrow__green {
	display: none;
}

.feedback__price_form-btn:hover .arrow__blue {
	display: block;
}

.feedback__price_form-btn-text {
	position: absolute;
	text-transform: uppercase;
	font-family: "Open Sans";
	top: 9px;
	left: 22px;
	font-weight: bold;
	font-size: 20.76px;
	color: #fff;
}

.feedback__price_form-arrow {
	position: absolute;
	bottom: 0;
	left: -693px;
}

.feedback__price_form-arrow-text {
	position: absolute;
	top: 29px;
	left: 68px;
	font-family: "Open Sans";
	text-transform: uppercase;
	color: #7a4000;
	font-weight: bold;
	font-style: italic;
	font-size: 22.2px;
}

.feedback__price_form-information {
	position: absolute;
	bottom: 95px;
	left: -325px;
	width: 325px;
}

.feedback__price_form-information-text {
	margin-bottom: 20px;
	padding: 10px 0 9px 9px;
	background-color: rgba(29, 84, 39, 0.67);
	font-family: "Open Sans";
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
}

.feedback__price_form-information-small {
	left: 60px;
	bottom: 32px;
	display: none;
}



/*main конец*/

/*footer начало*/

.footer__top {
	background-color: #F7F7F7;
}

.footer__top_wrap {
	padding: 25px 0 30px;
}

.footer__top_menu-col	{
	float: none;
	display: inline-block;
	vertical-align: top;
	margin-right: -3px;
}

.footer__top a {
	text-decoration: none;
	color: #000;
	font-family: "Open Sans";
}

.footer__top_menu-col ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.footer__top_menu-col ul {
	font-size: 12px;
}

.footer__top_menu-col ul li {
	margin-bottom: 8px;
}

.footer__top_menu-head {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 20px;
}

.footer__bottom_wrap {
	padding-top: 15px;
	padding-bottom: 18px;
	text-align-last: justify;
}

.footer__bottom_menu {
	display: inline-block;
}

.footer__bottom_socials {
	width: 174px;
	display: inline-block;
	text-align-last: justify;
}
	
	
	

/*footer конец*/

@media screen and (max-width: 1220px) {

	.middle__form_text-content {
		max-width: 460px;
	}

	.feedback__price_form-item {
		margin-bottom: 20px;
	}

	.feedback__price_form-arrow {
		transform: scale(0.7);
		left: -585px;
	}
}



@media screen and (max-width: 1200px) {
	.header__bottom_menu > ul li:last-child {
		display: none;
	}

	.footer__bottom_menu {
		display: none;
	}

	.footer__bottom_wrap {
		text-align-last: right;
	}

	.header__bottom_menu-small {
		display: block;
	}

	ul.small__menu li:last-child {
		display: block;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 1130px) {

	.header__bottom_menu > ul li:nth-child(6) {
		display: none;
	}

	ul.small__menu li:nth-child(6) {
		display: block;
	}

	a.middle__link {
		font-size: 18px;
	}

	.middle__form_text-content {
		max-width: 100%;
	}

	.feedback__price_form-wrap {
		width: 505px;
	}

	.feedback__price_form-head {
		max-width: 505px;
	}

	.feedback__price_form-text {
		max-width: 490px;
		padding: 0 20px;
	}

	.feedback__price_form-item {
		margin-bottom: 10px;
		margin: 0 30px 10px 30px;
	}

	.feedback__price_form-item input,
	.feedback__price_form-item select {
		width: 100%;

	}

	.feedback__price_form-btn {
		display: block;
		margin: 9px auto 10px auto;
	}

	.feedback__price_form-arrow {
		transform: scale(0.6);
		left: -485px;
		bottom: -10px;
	}
}

@media screen and (max-width: 1020px) {

	.middle__form {
		margin-bottom: 20px;
	}

	.feedback__price_form-information,
	.feedback__price_form-arrow {
		display: none;
	}
	
	.feedback__price_form-wrap {
		position: static;
		width: 100%;
		box-shadow: none;
		border-radius: 0;
	}

	.feedback__price_form-information-small {
		display: block;
	}

	.feedback__price_form {
		max-width: 505px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 980px) {

	.header__top_wrap {
		max-width: 560px;
		margin: 0 auto;
	}

	.logo__wrap {
		margin-left: 50px;
		margin-bottom: 20px;
	}

	.header__feedback {
		margin-right: 50px;
		margin-bottom: 20px;
	}
	
	.header__bottom_menu {
		display: none;
	}

	.header__bottom_menu-small {
		margin: 5px 0 6px 30px;
		position: static;
		right: auto;
		top: auto;
		display: inline-block;
		-ms-text-align-last: left;
		text-align-last: left;: left;
	}

	ul.small__menu {
		position: relative;
	}

	ul.small__menu li {
		display: block;
	}
	.header__bottom_basket {
		position: absolute;
		right: 0;
	}
}

@media screen and (max-width: 951px) {
	.middle__form_text {
		top: 200px;
	}
	.middle__form_text-content {
		line-height: 1.3;
	}
}

@media screen and (max-width: 920px) {

	.middle__links_block-item {
		width: 100%;
		margin-bottom: 60px;
	}

	.middle__link .middle__link_content img {
		width: 212px;
	}

	.middle__link .middle__link_text {
		font-size: 22px;
		right: auto;
		left: 230px;
	}

	.middle__links_block {
		padding-bottom: 0;
	}

	.feedback__price_form-send {
		position: static;
		margin: 10px auto 0;
	}
}

@media screen and (max-width: 740px) {
	.feedback__price_form-information-small {
		bottom: 0;
	}

	.feedback__price_form-information-text {
		margin-bottom: 10px;
	}

	.middle__form_info-head {
		display: none;
	}

	.middle__form_text-content {
		display: none;
	}

	.middle__form_text {
		position: static;
	}
}


@media screen and (max-width: 610px) {
	.header__search_input {
		width: 265px;
	}

	.middle__form_info-head {
		font-size: 28px;
	}

	.feedback__price_form-information-small {
		display: none;
	}

	.middle__form_text {
		top: 165px;
	}
}

@media screen and (max-width: 520px) {

	.header__search_input {
		width: 255px;
	}
	.logo__wrap {
		margin-left: 30px;
	}

	.header__feedback {
		margin-right: 30px;
	}

	.information__blocks .col-xs-6 {
		width: 100%;
	}

	a.index__page_link-other {
		font-size: 24px;
	}
}

@media screen and (max-width: 495px) {

	.header__top_wrap {
		max-width: 255px;
	}

	.logo__wrap {
		margin: 0;
	}

	.header__feedback {
		margin: 0;
	}

	.header__top_wrap {
		text-align: center;
		text-align-last: center;
	}

	.header__top_item {
		margin-bottom: 10px;
		text-align: center;
		text-align-last: center;
	}

	.middle__link .middle__link_content img {
		width: 40%;
	}

	.middle__link .middle__link_text {
		left: 50%;
	}

	.middle__links_block-item {
		margin-bottom: 40px;
	}

	.middle__form_info-head {
		font-size: 20px;
	}

	.middle__form_text {
		top: 130px;
	}

	.feedback__price_form-head {
		font-size: 18px;
	}

	.middle__form_text-content {
		font-size: 12px;
	}

	.feedback__price_form-btn {
		max-width: 280px;
	}

	.feedback__price_form-btn img {
		width: 100%;
	}

	.feedback__price_form-btn-text {
		left: 35px;
		font-size: 16px;
	}
}

@media screen and (max-width: 390px) {

	.container-fluid {
		padding: 0 15px;
	}

	.footer__top_menu-col {
		width: 100%;
	}

	.middle__link .middle__link_text {
		font-size: 18px;
	}

	.middle__links_block-item {
		margin-bottom: 20px;
	}

	.middle__link .middle__link_content img {
		width: 45%;
	}
}

/* popup */

/*.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}

.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}*/

.modal-body {
	position: relative;
	overflow-y: auto;
	max-height: 400px;
	padding: 15px;
}

.modal-body {
	max-height: 500px;
	font-family: "Open Sans";
}


.modal-body form input {
	width: 260px;
	margin-bottom: 20px;
}

.modal-body input[type="text"],.modal-body input[type="password"],.modal-body input[type="tel"],.modal-body textarea {
	height: 48px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: white;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	line-height: 1.42857143;
	border-radius: 4px;
}

.modal-body .btn {
	border-radius: 2px !important;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	padding: 14px 28px;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 2px solid #dbdbdb;
	color: #000;
}

.modal-body .btn-danger:hover,.modal-body .btn-danger:focus,.modal-body .btn-danger:active,.modal-body .btn-danger.active {
	color: white;
	background-color: #f1353d;
	border-color: #ec111b;
}

.inputselect, #statusSelect {
	height: 48px;
	padding: 6px 12px;
	font-size: 14px;
	font-weight: normal;
	color: #333333;
	background-color: white;
	border: 1px solid #e5e5e5;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	line-height: 1.42857143;
	border-radius: 4px;
	width: 556px;
}

#statusSelect {
	width: 260px;
	margin-bottom: 20px;
}

.modal-body form textarea {
	width: 260px;
	margin-bottom: 20px;
}